[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteForkingEchoService
Exec=/home/giorgiodaniele/Desktop/plustracer/dbus-1.14.6/test/test-service org.freedesktop.DBus.TestSuiteForkingEchoService fork
