[D-BUS Service]
Name=com.example.SendDeniedByAppArmorLabel
Exec=/bin/false SendDeniedByAppArmorLabel
SystemdService=dbus-com.example.SendDeniedByAppArmorLabel.service
AssumedAppArmorLabel=/home/giorgiodaniele/Desktop/plustracer/dbus-1.14.6/test/test-apparmor-activation//com.example.SendDeniedByAppArmorLabel
